<!-- Loop over each object in the projects array -->
<section class="blogposts-container">
  {{!-- <div class="hero-container">
  </div> --}}
  <section class="list-container">
  {{#each blogposts as |blogpost| }}
    <div class="blogpost-card">
      <div>
        <h2><a href="/blogpost/{{blogpost.id}}">{{blogpost.blog_title}}</a></h2>
      </div>
     
      {{!-- <div class="blogpost-details">
        <p>By <b>{{blogpost.user.name}}</b></p>
      </div> --}}
      </section>
   
  {{/each}}
  
   <h2> Hiiiiii</h2>
</section>



