<!-- Loop over each object in the projects array -->
<section class="blogposts-container">
{{!-- all blogposts --}}
  <section class="list-container">
  {{#each blogposts as |blogpost| }}
    <div class="blogpost-card">
      <div>
        <h2><a href="/blogpost?blogpostId={{blogpost.id}}">
        {{blogpost.blog_title}}
        </a></h2>
      </div>
     
    
      </section>
   
  {{/each}}
  
</section>



