{{!-- <div class="update-container hidden">
  <h2>Update</h2>
  <form class="form new-update-form">
    <div class="form-group">
      <label for="update-title">Title: </label>
      <input class="form-input" type="text" id="update-title" name="update-title" value="{{blog_title}}"/>
    </div>
    <div class="form-group">
      <label for="update-content">Content:</label>
      <textarea rows="4" class="form-input" id="update-content" name="post-content">{{blog_post}}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a type="button" href="/profile" id="cancel-form" class="btn btn-secondary">Cancel</a>
    </div>
  </form>
</div>

<script src="../js/update.js"></script> --}}