
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Lora&family=Tenor+Sans&display=swap');

  /* font-family: 'Archivo', sans-serif;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Lora', serif; */

 h1, h2, h3, h4, label, span, a {
  font-family: 'Tenor Sans', sans-serif;
  text-decoration: none;
  color: #e9ecef;
}

p {
  font-family: 'Lora', serif;
  color: #e9ecef;
}

header {
  position: relative;
  background-color: #121212;
  height: 100px;
}

nav a {
  font-size: 20px;
  margin-right: 20px;
  padding: 3px 10px;
 
}

nav a:hover {
  font-size: 24px;
  text-decoration: none;
  color: #c88672;
}

main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: #121212;
}

a:hover {
  text-decoration: none;
  color: #c88672;
}

.login-form, .signup-form, .blogpost-card, .blogpost-container,
.form-container, .blogpost-list, .update-container {
  margin-top: 100px;
  padding: 15px 25px;
  border-radius: 44px;
background: #0a0908;
box-shadow: inset -13px -13px 26px rgb(51, 50, 50),
inset 13px 13px 26px #272626; 

}

.blogpost-list {
  margin-top: 20px;
}

button:hover, input:hover {
  cursor: pointer;
}

 /* New blog post and new comment button */
.btnNew {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #e0afa0;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
  margin: 0;
}

.btnNew:hover {
  color: #c88672;
  transition-delay: .5s;
}

/* Login Styles */

.loginBtn,
.signupBtn {
  background-color: #c88672;
  border-radius: 44px;
font-size: 20px;
}


/* Blogposts List Styles */

.blogposts-container{
   padding: 25px; 
}

.blogposts-container h1{
  text-align: center;
  margin-bottom: 25px;
}

 .blogposts-container a {
  font-size: 20pt;
} 

.list-container {
   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 25px; 
}

 .blogpost-card {
   position: relative;
  padding: 20px;
  width: 225px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  overflow: hidden;
  text-align: center;
 
 }  

 .blogpost-card .blogpost-name {
  position: absolute;
  top: 20px; 
  left: 0;
  right: 0;
  text-align: center;
}


 .blogpost-card  {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
} 

.blogpost-card .blogpost-details {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;

}

.blogpost-card .blogpost-details p {
  margin: 5px 0;
}

#blogpostCard, 
#profileCard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Blogpost Styles */

.blogpost-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
}



li {
  list-style-type: none;
} 

.blogpost-content {
  border-radius: 15px;
  padding: 15px;
 
  margin-bottom: 15px;
}

/* Comments */

.comment-list,
.comment-container {
  margin: 0 auto;
  width: 72%;
  margin-top: 100px;
  padding: 20px; 
  border-radius: 44px;
  background: #0a0908;
  box-shadow: inset -13px -13px 26px rgb(51, 50, 50),
  inset 13px 13px 26px #272626; 
}


.comment-card {
  padding: 15px;
 margin-bottom: 10px; 
}

/* Profile Styles */


.form-input {
  background-color: white;
  color: white;
}


.blogpost-list-card {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid 	rgb(206, 206, 206);
  margin-bottom: 15px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
}

.btn-new-blogpost {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: block; 
} 

textarea {
  resize: none;
}

/* Hidden */

.hidden {
  display: none;

 
}

/* update and delete buttons */
.BtnUpdate,
.BtnDel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 45px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  margin-top: 3px;
  margin-bottom: 3px;
}

.BtnUpdate {
  background-color: #119da4;
}

.BtnDel {
  background-color: #d44d5c;
}

.text {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  opacity: 1;
  width: 100%;
  display: block;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 500;
}
