a {
  text-decoration: none;
  color: black;
  font-family: 'Merriweather', serif;
}

a:hover {
  color: 	#bcb8b1;
  text-decoration: none;
  cursor: pointer;
}

button:hover, input:hover {
  cursor: pointer;
}

h1 {
  color: RGB(42, 46, 47);
  font-family: 'Merriweather', serif;
/* font-family: 'Open Sans', sans-serif; */
}

h2, h3, label {
  color: RGB(42, 46, 47);
  /* font-family: 'Merriweather', serif; */
font-family: 'Open Sans', sans-serif;
}

main {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-color: RGB(220, 221, 215)
}


.login-form, .signup-form, .blogpost-card, .blogpost-container,
.form-container, .blogpost-list {

  padding: 15px 25px;
}

.login-form, .signup-form, .blogposts-container, 
.blogpost-container, .form-container {
  margin-top: 100px;
}

.blogpost-list {
  margin-top: 20px;
}

/* .hero-container {
  width: 100%;
  height: 75vh;
  background-image: url('../images/recipe_hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* Header Styles */

header {
  position: relative;
  background-color: RGB(220, 221, 215);
  height: 100px;
}

header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color:rgb(96, 94, 94); 
}

header h1 a {
  color: 	RGB(42, 46, 47);
}

nav {
  margin-right: 30px;
  
}

nav a {
  margin-right: 20px;
  font-size: 14pt;
  color: 	RGB(42, 46, 47);
  padding: 3px 10px;
  border-radius: 5px;
}



 /* New blog post button */
.btnNew {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #b29389;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
  margin: 0;
}

.btnNew:hover {
  color: #c88672;
  transition-delay: .5s;
 
}




/* Login Styles */

.login-form, .signup-form{
  border-radius: 44px;
  background: #dcddd7;
  box-shadow: inset -13px -13px 26px #82827f,
              inset 13px 13px 26px #ffffff;
}

/* Login and Sign up buttons  */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f5e7e2;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #c88672;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #e3c5ba;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #f5e7e2;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }

/* Blogposts List Styles */

.blogposts-container{
   padding: 25px; 
}

.blogposts-container h1{
  text-align: center;
  margin-bottom: 25px;
}

 .blogposts-container a {
  font-size: 20pt;
} 

.list-container {
   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 25px; 
}

 .blogpost-card {
   position: relative;
  padding: 20px;
  width: 225px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  overflow: hidden;
  text-align: center;
  border-radius: 44px;
  background: #dcddd7;
  box-shadow: inset -13px -13px 26px #82827f,
              inset 13px 13px 26px #ffffff;
 }  

 .blogpost-card .blogpost-name {
  position: absolute;
  top: 20px; 
  left: 0;
  right: 0;
  text-align: center;
}


 .blogpost-card  {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 10px;
} 

.blogpost-card .blogpost-details {
  position: absolute; 
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.blogpost-card .blogpost-details p {
  margin: 5px 0;
}

#blogpostCard, 
#profileCard {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Blogpost Styles */

.blogpost-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 100px;
  border-radius: 44px;
  background: #dcddd7;
  box-shadow: inset -13px -13px 26px #82827f,
              inset 13px 13px 26px #ffffff;
}



li {
  list-style-type: none;
} 

.blogpost-content {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid 	rgb(206, 206, 206);
  margin-bottom: 15px;
}

/* Comments */

.comment-list {
  margin: 0 auto;
  width: 72%;
  margin-top: 100px;
  padding: 20px; 
  border-radius: 44px;
  background: #dcddd7;
  box-shadow: inset -13px -13px 26px #82827f,
              inset 13px 13px 26px #ffffff;
}

.comment-card {
  padding: 15px;
 margin-bottom: 10px; 
}

/* Profile Styles */

.form-container, .blogpost-list {
  border-radius: 44px;
  background: #dcddd7;
  box-shadow: inset -13px -13px 26px #82827f,
              inset 13px 13px 26px #ffffff;
            
}
.form-input {
  background-color: white;
  color: white;
}


.blogpost-list-card {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid 	rgb(206, 206, 206);
  margin-bottom: 15px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
}

.btn-new-blogpost {
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  display: block; 
} 

textarea {
  resize: none;
}

/* Hidden */

.hidden {
  display: none;
}

/* Update Button */
.BtnUpdate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: green;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon-update {
  width: 2em;
  height: 2em;
}

.svg-icon-update path,
.svg-icon-update polygon,
.svg-icon-update rect {
  fill: white;
}

.svg-icon-update circle {
  stroke-width: 1;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.BtnUpdate:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.BtnUpdate:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.BtnUpdate:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.BtnUpdate:active {
  transform: translate(2px ,2px);
}


/* Delete button */
.BtnDel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: red;
}

/* plus sign */
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon-del {
  width: 2em;
  height: 2em;
}

.svg-icon-del path,
.svg-icon-del polygon,
.svg-icon-del rect {
  fill: white;
}

.svg-icon-del circle {
  stroke-width: 1;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.BtnDel:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.BtnDel:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.BtnDel:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.BtnDel:active {
  transform: translate(2px ,2px);
}

